:root {
  --form-control-color: rgb(29, 155, 240);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 0.5rem 1rem 2rem 1rem;
  font-family: system-ui, sans-serif;
}

#form {
  margin-bottom: 1.5rem;
}

.message {
  border: 1px solid gray;
  padding: 0.5rem;
  margin-bottom: 1rem;
}